$palmer-ridge-blue: #001E33;
$palmer-ridge-gold: #6D521D;
$normal-text-color: yellow;
body { background-color: $palmer-ridge-gold; }
.normal-text-color { color: $normal-text-color; }
.header { background-color: $palmer-ridge-blue; }
.body { background-color: $palmer-ridge-gold; }

